<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.isen.teamnougat.sweetquizz" >

    <application
        android:name="fr.isen.teamnougat.sweetquizz.SweetQuizz"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SweetQuizzTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.QuizzActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.QuizzFinishedActivity"
            android:label="@string/app_name" >

        </activity>

        <meta-data android:name="AA_DB_NAME" android:value="Results.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="fr.isen.teamnougat.sweetquizz.model.Result" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
